<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.galleryapplication">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="30"
        tools:ignore="GradleOverrides" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GalleryApplication">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.galleryapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".CameraActivity"></activity>
        <activity android:name=".VideoDetailActivity" />
        <activity android:name=".PhotoDetailActivity" />
        <activity
            android:name=".GalleryViewActivity"
            android:label="@string/default_title_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/actionbar_settings_1"
            android:parentActivityName=".GalleryViewActivity"
            tools:targetApi="jelly_bean">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.galleryapplication.GalleryViewActivity" />
        </activity>
    </application>

</manifest>